<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<PublishProtocol>FileSystem</PublishProtocol>
		<Platform>x64</Platform>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishDir>bin\\win-x64\publish\</PublishDir>
		<SelfContained>true</SelfContained>
		<PublishSingleFile>false</PublishSingleFile>
		<Configuration>Release</Configuration>
		<TargetFramework>net10.0-windows10.0.19041.0</TargetFramework>
		<PublishReadyToRun>false</PublishReadyToRun>
		<!--<WindowsPackageType>MSIX</WindowsPackageType>-->
		<WindowsPackageType>None</WindowsPackageType>
		<WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
		<SatelliteResourceLanguages>en</SatelliteResourceLanguages>
	</PropertyGroup>

	<Target Name="RemoveUnusedWinUiSatelliteLanguages" AfterTargets="Publish">
		<ItemGroup>
			<_UnusedWinUiMuiFiles Include="$(PublishDir)*\Microsoft.ui.xaml.dll.mui"
				Exclude="$(PublishDir)en-us\**;$(PublishDir)zh-CN\**" />
			<_UnusedWinUiMuiFiles Include="$(PublishDir)*\Microsoft.UI.Xaml.Phone.dll.mui"
				Exclude="$(PublishDir)en-us\**;$(PublishDir)zh-CN\**" />
			<_UnusedWinUiMuiDirectories Include="@(_UnusedWinUiMuiFiles->'%(RootDir)%(Directory)')" />
		</ItemGroup>

		<Delete Files="@(_UnusedWinUiMuiFiles)" />
		<RemoveDir Directories="@(_UnusedWinUiMuiDirectories)" ContinueOnError="WarnAndContinue" />
	</Target>

</Project>
